/* 普通文字颜色 */
$textColor: #333333;

/* 次浅色边框颜色 */
$borderColor: #d8d8d8;

/* 绿色 - 文字或背景 */
$green: #33c298;

/* 深灰色 - 文字 */
$gray: #666666;

/* 开启硬件加速, 对CSS3渐变效果或requestAnimationFrame使用 */
@mixin hardware-acceleration {
  transform: translate3d(0, 0, 0);
}

/* 绘制设备像素为1的边框 (1px的一半) */
@mixin borderTop1dp($color) {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: $color;
    transform: scaleY(0.5);
    transform-origin: top left;
  }
}

@mixin borderRight1dp($color) {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: $color;
    transform: scaleX(0.5);
    transform-origin: top right;
  }
}

#v-modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.5);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  @include hardware-acceleration;
}

#v-modal-dialog {
  background-color: #fff;
  width: 80%;
  height: auto;
  padding-top: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  color: $textColor;
  overflow: hidden;
  -webkit-user-select: none;
}

#v-modal-dialog * {
  box-sizing: border-box;
}

#v-modal-footer {
  text-align: right;
  display: flex;
  height: 50px;
  @include borderTop1dp($borderColor);   /* 为footer绘制顶部物理像素1px的边框 */
}

.v-modal-btn {
  flex: 1;
  border: none;
  background-color: #ffffff;
  outline: none;
  font-size: 16px;
}

.v-modal-btn.primary {
  color: $green;
}

.v-modal-btn.slave {
  color: $gray;
  @include borderRight1dp($borderColor);    /* 为取消按钮绘制右侧物理像素1px的边框 */
}

.v-modal-btn:hover, .v-modal-btn:active {
  background-color: #eeeeee;
}

#v-modal-title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
}

#v-modal-body {
  font-size: 15px;
  text-align: center;
  line-height: 22px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.modal-transition {
  opacity: 1;
  transition: all 0.2s ease;
}

.modal-enter {
  opacity: 0;
}

.modal-leave {
  opacity: 0;
}
